* {
  margin: 0;
  padding: 0;
}

/* variables */
:root {
  --background-white: #DBE9EE;
  --columbian-blue: #C0D6DF;
  --text-color: #616161;
  --default-gray: #E0E0E0;
  --darker-gray: #9E9E9E;
  --active-green: #69F0AE;
  --navy-blue: #266DD3;
  --sapphire: #166088;
}

html, body {
  font-family: sans-serif;
  min-height: 100vh;
  background-color: var(--background-white);
}

a.button {
  display: inline-block;
  text-align: center;
  color: #fff;
  background-color: var(--navy-blue);
  user-select: none;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s all;
  text-decoration: none;
}

a.button:active{
  background-color: #fff;
}
