* {
  margin: 0;
  padding: 0;
}

/* variables */
:root {
  --background-white: #DBE9EE;
  --columbian-blue: #C0D6DF;
  --text-color: #616161;
  --default-gray: #E0E0E0;
  --darker-gray: #9E9E9E;
  --active-green: #69F0AE;
  --navy-blue: #266DD3;
  --sapphire: #166088;
}

html, body {
  font-family: sans-serif;
  min-height: 100vh;
  background-color: var(--background-white);
  padding: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.5em;
  padding-bottom: 5px;
  width: 100%;
}

.container {
  display: flex;
  max-width: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .username {
  max-width: 45%;
  border: 0px;
  background-color: #fff;
  font-size: 14pt;
  height: 25px;
  margin-top: 10px;
  padding: 2px 5px 2px 5px;
}

.container .recipient {
  max-width: 45%;
  border: 0px;
  background-color: #fff;
  font-size: 14pt;
  height: 25px;
  margin-top: 10px;
  padding: 2px 5px 2px 5px;
}

.container a {
  display: inline-block;
  max-width: 45%;
  text-align: center;
  color: #fff;
  background-color: var(--navy-blue);
  user-select: none;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s all;
  text-decoration: none;
}

a.button:active{
  background-color: #fff;
}

h1 {
  font-size: 20pt;
  color: black;
}

.container .button {
  width: 60%;
  height: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px 0px 5px;
}

.container .chat-container {
  max-height: 500px;
  min-width: 400px;
  overflow-y: scroll;
  width: 200px;
  background-color: var(--columbian-blue);
}

.container .chat-container p{
  margin: 10px 5px 10px 5px;
  max-width: 100%;
  word-wrap: break-word;
  font-family: monospace;
}

.container .input-box {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.container .input-box a {
  font-size: 14pt;
}

.container .input-box input {
  height: 30px;
  flex-grow: 90;
  font-size: 14pt;
  border: 0px;
  background-color: #fff;
  padding: 0px 5px 0px 5px;
}

.container .input-box .button {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .input-box .button p{

}
